doctype 5
html(lang="en")
    head
        title= "Word List"

        body
        h1 Words List
        hr

        div#list_box list

        div#means_box mean_box

        hr
        center by , for judasnow@gmail.com
        script(src="client.js").

